$color-white: #ffff;
$color-dark: #4a4a4a;
$color-grey: #9b9b9b;
$color-teal: #294E4D;
$color-green: #16b1a9;
$color-grean-opacity: rgba(22,177,169,0.5);
$color-teal-opacity: rgba(41, 78, 77, 0.9);
$color-teal-opacity-light: rgba(41, 78, 77, 0.7);
$color-white-opacity: rgba(255, 255, 255, 0.85);

$gradient-teal: linear-gradient(100.56297290155874deg, rgba(41, 78, 77,1) 15.487630094091099%,rgba(41, 78, 77,1) 37.59038716968563%,rgba(22, 177, 169,1) 90.20117513835429%);
